{% extends 'base.html.twig' %}

{% block home %}
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">


        <div class="container position-relative text-center text-lg-left" data-aos="zoom-in" data-aos-delay="100">
            <div class="row">
                <div class="col-lg-8">

                    <h1>Welcome to <span>HappyTrip</span></h1>
                    <h2> If you want to look over our Offers </h2>

                    <div class="btns">
                        <a href="#offers" class="btn-menu animated fadeInUp scrollto">Offers </a>
                    </div>
                </div>

            </div>
        </div>
    </section><!-- End Hero -->

{% endblock %}

{% block body %}
    {% block offer %}
<section id="offers" class="chefs">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Offers</h2>
            <p>Offers List</p>
            <form action="" method="get">
                <div class="input-group" style="width: 24%;float: right;">
                    <div class="form-outline">
                        <input type="text" class="form-control" id="search" name='q' placeholder="Search"/>
                    </div>
                </div>
            </form>
            <br>
        </div>
        <div class="row">
            {% for offer in offers %}
                <div class="col-lg-4 col-md-6">
                    <div class="member" data-aos="zoom-in" data-aos-delay="100" id="offeritem">

                        <img id="image" src="{{ vich_uploader_asset(offer,'imgOff') }}" class="img-fluid">
                        <div class="member-info">
                            <div class="member-info-content">
                                <a href="{{ path('detailOffer',{'id':offer.id}) }}">
                                    <h4 id="name">{{ offer.name }}</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>

        <div class="navigation">
            {{ knp_pagination_render(offers) }}
        </div>
    </div>
</section><!-- End Chefs Section --
{% endblock %}
{% endblock %}

