{% extends 'base.html.twig' %}
{% block body %}
    <div class="jumbotron text-center">
        <div class="container">
            <h1>Supprimer une destinations: </h1>


        </div>
    </div>
{% endblock %}