{% extends 'base.html.twig' %}

{% block home %}

{% endblock %}
{% block body %}  <br>
    <br>
    <br>
    <br>  <br>
    <br>
    <br>
    <br>
<h1>Payment effectuée avec succée!</h1>  <br>
    <br>
    <br>
    <br>  <br>
    <br>
    <br>
    <br>
    <a href="{{ path('VoyageVirtuelle.index') }}" class="btn btn-primary">Nos VoyagesVirtuelles</a>

{% endblock %}



