{% extends 'base.html.twig' %}
{% block home %}

{% endblock %}

{% block body %}  <br>
    <br>
    <br>
    <br>  <br>
    <br>
    <br>
    <br>
<h1>une erreur s'est produite lors du paiement !</h1>
{% endblock %}


