<form method="post" action="{{ path('urgence_delete', {'id': urgence.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ urgence.id) }}">
    <button class="btn">Delete</button>
</form>
