{% extends 'base.html.twig' %}

{% block title %}New Urgence{% endblock %}

{% block body %}
    <h1>Create new Urgence</h1>

    {{ include('urgence/_form.html.twig') }}

    <a href="{{ path('urgence_index') }}">back to list</a>
{% endblock %}
