{% extends 'base.html.twig' %}

{% block title %}Edit Transport{% endblock %}

{% block body %}
    <h1>Edit Transport</h1>

    {{ include('transport/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('transport_index') }}">back to list</a>

    {{ include('transport/_delete_form.html.twig') }}
{% endblock %}
