{% extends 'base.html.twig' %}


{% block body %}
{% block reservation %}
    <section id="book-a-table" class="book-a-table">
        <div class="container">

            <div class="section-title" style="padding-bottom: 0px">
                <h2 style="color:#b21f2d;;font-weight: bold;font-size: 20px;">Error</h2><br>

                <label for="card-element">
                    <p>An error occurred during your payment !</p>
                </label>
            </div>


        </div>
    </section>

{% endblock %}
{% endblock %}
