{% extends 'base.html.twig' %}


{% block body %}
    {% block reservation %}

        <section id="book-a-table" class="book-a-table">
            <div class="container">

                <div class="section-title" style="padding-bottom: 0px">
                    <h2 style="color:#0b2e13;font-weight: bold;font-size: 20px;">Success</h2>
                    <br>
                    <label for="card-element">
                        <p>Your purchase has been successfully registred !!</p>
                    </label>
                </div>


            </div>
        </section>

    {% endblock %}
{% endblock %}